<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tabbed">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EJ Airlines"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tabbed"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Walk"
            android:exported="false"
            android:label="@string/title_activity_walk"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tabbed.NoActionBar" />
        <activity
            android:name=".Splashmain"
            android:exported="true"
            android:screenOrientation="portrait" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tabbed.NoActionBar">

        </activity>
        <activity
            android:name=".Forgotpass"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tabbed.Bar"/>
        <activity
            android:name=".Navigation_drawer"
            android:exported="false"
            android:label="@string/title_activity_navigation_drawer"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tabbed.NoActionBar" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="EJ System"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tabbed.NoActionBar" />
    </application>

</manifest>